/* CSS for the main app containert */
.App {
    display: grid;
    justify-items: center;
    /* padding: 64px 12px; */
    background-color: black;
    color: white;
}

/* CSS for the actual text */
.chapter-text {
    color: white;
    font-size: 1.1rem;
    white-space: pre-wrap;
}


/* CSS for the sidebar container */
.sidebar {
    position: fixed;
    height: 50%;
    /* height: 300px; */
    width: 150px;
    right: 0px;
    bottom: 0;
    border: white 1px solid;
    border-radius: 1px;
    background-color: black;
    z-index: 1;
}


/* CSS for the sidebar links */
.sidebar-link {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 4px;
}

.sidebar-link:hover {
    color: rgba(255, 255, 255, 0.499);
    cursor: pointer;
    margin: 4px;
}

/* CSS for the bottom bar */
.bottomBar {
    position: fixed;
    height: 32px;
    /* height: 300px; */
    width: 100vw;
    left: 0px;
    bottom: 0;
    border: white 1px solid;
    border-radius: 1px;
    background-color: black;
    z-index: 1;
}