/* CSS for the main app containert */
.App {
    display: grid;
    justify-items: center;
    /* padding: 64px 12px; */
    background-color: black;
    color: white;
}

/* CSS for the actual text */
.chapter-text {
    color: white;
    font-size: 1.1rem;
    white-space: pre-wrap;
}


/* CSS for the sidebar container */
.sidebar {
    position: fixed;
    height: 50%;
    /* height: 300px; */
    width: 150px;
    right: 0px;
    bottom: 0;
    border: white 1px solid;
    border-radius: 1px;
    background-color: black;
    z-index: 1;
    padding: 4px;
    transition: 0.4s all ease-in;
}


/* CSS for the sidebar links */
.sidebar-link {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 4px;
}

.sidebar-link:hover {
    color: rgba(255, 255, 255, 0.499);
    cursor: pointer;
    margin: 4px;
}

.sidebar-header {
    display: grid;
    grid-template-columns: auto 20px;
}

.sidebar-header p {
    font-weight: 800;
    margin: 0;
}

.x-button {
    cursor: pointer;
    /* padding: 4px; */
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0px;
}

.open-nav {
    cursor: pointer;
    /* padding: 4px; */
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0px;
    text-shadow: 2px 2px 2px red;
    user-select: none;
    padding-right: 12px;
}


/* CSS for the bottom bar */
.bottomBar {
    position: fixed;
    height: 32px;
    /* height: 300px; */
    width: 100vw;
    right: 0;
    bottom: 0;
    border: white 1px solid;
    border-radius: 1px;
    background-color: black;
    z-index: 1;
    display: grid;
    justify-items: end;
    /* margin: 0 64px; */
}