html {
  
}


.App {
    display: grid;
    justify-items: center;
    padding: 64px 0 0 220px;
    background-color: black;
    color: white;
}


.chapter-text {
    color: white;
    font-size: 1.2rem;
    white-space: pre-wrap;
}

.sidebar {
    /* display: absolute; */
    position: fixed;
    height: 50%;
    min-height: 300px;
    width: 160px;
    left: 32px;
    border: white 2px solid;
    border-radius: 2px;
}

.sidebar-link {
    color: white;
    cursor: pointer;
    margin: 4px;
}

.sidebar-link:hover {
    color: rgba(255, 255, 255, 0.499);
    cursor: pointer;
    margin: 4px;
}